<html>
  <head>
    <title>Kittyface!</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
	  <h1>Name Check</h1>
	  <p>Your name <i>is</i> <%= userName %>. Isn't it?</p>
	  <form action='/username' method='POST'>
	  	Actually, it's <input type='text' id='realUserName' name='realUserName'/>.<br/>
	  	<input type='submit' />
	  </form>
  </body>
</html>
