<html>
  <head>
    <title>Kittyface!</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
	  <h1>Name Check</h1>
	  <p>Your name <i>is</i> <%= userName %>. Isn't it?</p>
  </body>
</html>
