<html>
  <head>
    <title>Kittyface!</title>
  </head>
  <body>
    <h1>=^..^=</h1>
  </body>
  <p>A kitty face for <%= userName %></p>
  <ul>
  <% for(var i = 0; i < stepsData.length; i++) { %>
    <li><%= stepsData[i].date + ': ' + stepsData[i].steps_count %></li>
  <% } %>
  </ul>
</html>
